<div class="contents-wrapper">
  <div class="table-of-contents" id="read">
    <p class="part">基础篇</p>
    <!-- 只用图形化工具，瞄准 github 淡化 git -->
    <table class="index-table">
      <tbody>
        <tr class="chapter-wrap">
         <td class="chapter-index">第 1 节</td>
         <td class="chapter-title">
           <a href="./linux/1-github-pages.html">JS</a>
         </td>
        </tr>
      </tbody>
    </table>

    <p class="part">ES6 新特性篇</p>
    <table class="index-table">
      <tbody>
        <tr class="chapter-wrap">
          <td class="chapter-index">第 1 节</td>
          <td class="chapter-title">
            <a href="./es6/let.html"> ES6 的 let 和 ES5 的 var 有啥区别？</a>
          </td>
        </tr>
        <tr class="chapter-wrap">
          <td class="chapter-index">第 2 节</td>
          <td class="chapter-title">
            <a href="./es6/module.html">ES6 模块的最基本的使用方式是什么？</a>
          </td>
        </tr>
        <tr class="chapter-wrap">
          <td class="chapter-index">第 3 节</td>
          <td class="chapter-title">
            <a href="./es6/module-2-ways.html">ES6 模块的两种导出方式是什么？</a>
          </td>
        </tr>
      </tbody>
    </table>

    <p class="part">面向对象编程</p>
    <table class="index-table">
      <tbody>
        <tr class="chapter-wrap">
         <td class="chapter-index">第 1 节</td>
         <td class="chapter-title">
           <a href="./es6/es6-intro.html"> Hello ES6</a>
         </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
