<div class="contents-wrapper">
  <div class="table-of-contents" id="read">
    <p class="part">基础篇</p>
    <!-- 只用图形化工具，瞄准 github 淡化 git -->
    <table class="index-table">
      <tbody>
        <tr class="chapter-wrap">
         <td class="chapter-index">第 1 节</td>
         <td class="chapter-title">
           <a href="./linux/1-github-pages.html">JS</a>
         </td>
        </tr>
      </tbody>
    </table>

    <p class="part">ES6 新特性篇</p>
    <!-- 只用图形化工具，瞄准 github 淡化 git -->
    <table class="index-table">
      <tbody>
        <tr class="chapter-wrap">
         <td class="chapter-index">第 1 节</td>
         <td class="chapter-title">
           <a href="./es6/es6-intro.html"> Hello ES6</a>
         </td>
        </tr>
      </tbody>
    </table>
    <p class="part">面向对象编程</p>
    <!-- 只用图形化工具，瞄准 github 淡化 git -->
    <table class="index-table">
      <tbody>
        <tr class="chapter-wrap">
         <td class="chapter-index">第 1 节</td>
         <td class="chapter-title">
           <a href="./es6/es6-intro.html"> Hello ES6</a>
         </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
